language: node_js
node_js:
  - "iojs"
  - "10.8.0"
env:
  - EMBER_VERSION=default
before_install:
  - npm install -g typescript
  - npm install mocha chai --save
before_script:
  - npm run lint
  - npm run build
script:
  - npm run test